<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="connectionstring" connectionString="Data Source=DESKTOP-IUJGAG6\SQLEXPRESS;Initial Catalog=CustomerDB;User ID=sa;Password=sa@123;Encrypt=False"/>
    <add name="Logconnectionstring" connectionString="Data Source=DESKTOP-IUJGAG6\SQLEXPRESS;Initial Catalog=CustomerLogDB;User ID=sa;Password=sa@123;Encrypt=False"/>
    <add name="SqlLiteconnectionstring" connectionString="Data Source=C:\Users\Acer\CustomerDB.db;Version=3;Pooling=True;Max Pool Size=100"/>
  </connectionStrings>  
  <appSettings>
    <add key="BaseUrl" value="https://localhost:7206" />
  </appSettings>
</configuration>